/* margin auto */

.m-auto{
    margin: 0 auto !important;
}

/* Margin */
.m-0{
    margin: 0px !important;
}

.m-20{
    margin: 20px !important;
}

/* Margin Top */
.mt-0{
    margin-top: 0px !important;
}

.mt-10{
    margin-top: 10px !important;
}

.mt-14{
    margin-top: 14px !important;
}

.mt-20{
    margin-top: 20px !important;
}

.mt-24{
    margin-top: 24px !important;
}

.mt-30{
    margin-top: 30px !important;
}

.mt-50{
    margin-top: 50px !important;
}

.mt-94{
    margin-top:94px !important;
}

/* Margin bottom */
.mb-0{
    margin-bottom: 0px !important;
}

.mb-10{
    margin-bottom: 10px !important;
}

.mb-20{
    margin-bottom: 20px !important;
}

.mb-30{
    margin-bottom: 30px !important;
}

/* margin right */
.mr-3{
    margin-right: 3px !important;
}

.mr-10{
    margin-right: 10px !important;
}

.mr-20{
    margin-right: 20px !important;
}

/* margin left */
.ml-10{
    margin-left: 10px !important;
}

.ml-5{
    margin-left: 5px !important;
}
/* Padding */
.p-10{
    padding: 10px !important;
}

.p-20{
    padding: 20px !important;
}
/* Padding left */
.pl-0{
    padding-left: 0px !important;
}

.pl-30{
    padding-left: 30px !important;
}

/* Padding bottom */
.pb-10{
    padding-bottom: 10px !important;
}

/* Padding Top */
.pt-10{
    padding-top: 10px !important;
}

.pt-30{
    padding-top: 30px !important;
}