.survey-container{
    border: 1px solid #d1cfcf;
    border-radius: 4px;
    height: calc(100vh - 42px);
    box-shadow: 0 4px 9px #d1cfcf;
    background-color: #fff;
}

.crt-survet-btn{
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(41, 118, 156) !important;
    border: 0;
    color: #fff !important;
}

.crt-survet-btn:hover{
    color: white;
}

.cancel-btn{
    border: 1px solid rgb(41, 118, 156) !important;
    color: rgb(41, 118, 156) !important;
}

.submit-btn{
    border: 1px solid rgb(41, 118, 156) !important;
    background-color: rgb(41, 118, 156) !important;
    color: #fff !important;
}

.div-line{
    border-right: 1px solid #d1cfcf;
    height: calc(100vh - 42px);
    overflow: auto;
}

.div-line::-webkit-scrollbar{
    display: none;
}

.survey-list-cont{
    padding: 20px 8px;
    border-radius: 4px;
    box-shadow: 0 4px 7px #d1cfcf;
    background-color: #f6f6f6;
}

.survey-text{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 90%;
}

.delete-icon{
    color: #838383;
}

.delete-icon:hover{
    color: rgb(234, 47, 47);
}

.question-container{
    border-radius: 4px;
    box-shadow: 0 4px 12px #d1cfcf;
}

.add-ques-btn{
    background-color: rgb(41, 118, 156) !important;
    color: #fff !important;
}

.delete-row-icon{
    background-color: rgb(234, 47, 47);
    width: 39px;
    height: 39px;
    border-radius: 4px;
}
